html,
body {
    background-color: rgb(167, 167, 167);
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }

#game-board {
    background-color: rgb(134, 134, 134);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 120px;
    }

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(56, 56, 56);
    background: linear-gradient(
    135deg,
    5
    #e2e2e2 25%,
    #ffffff 25%,
    #ffffff 50%,
    #e2e2e2 50%,
    #e2e2e2 75%,
    #ffffff 75%,
    #ffffff
    );
    background-size: 20px 20px;
    color: transparent;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
    }

    .card.flipped,
    .card.matched {
    background: rgb(43, 184, 189);
    color: #000000;
    border: 2px solid #000000;
    }