* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box1 {
    flex: 1;
    background-color: #ff1616;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.box2 {
    flex: 1;
    background-color: rgb(26, 106, 255);
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.box3 {
    flex: 1;
    background-color: rgb(195, 0, 255);
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .box1 {
        flex-basis: 30%;
    }
    .box2 {
        flex-basis: 30%;
    }
    .box3 {
        flex-basis: 30%;
    }
}

@media (max-width: 768px) {
    .box1 {
        flex-basis: 45%;
    }
    .box2 {
        flex-basis: 45%;
    }
    .box3 {
        flex-basis: 45%;
    }
}

@media (max-width: 480px) {
    .box1 {
        flex-basis: 100%;
    }
    .box2 {
        flex-basis: 100%;
    }
    .box3 {
        flex-basis: 100%;
    }
}